<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yangchedou.oa">

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        >

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="z0b3a1f8PdYeoQpXXKoKL7H2fzikDfFe" />
        <!-- N4yjmdbUXGHzsmtVNGVRCD3Bnz3VSibi z0b3a1f8PdYeoQpXXKoKL7H2fzikDfFe-->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote"></service>

    </application>

</manifest>